<h1>Name Your Tamagotchi!</h1>
<form action="/tamagotchi" method="post">
  <div class="form-group">
   <input type="text" name="name" class="form-control" placeholder="Make sure it ends in -atchi!">
   <button type="submit">Go!</button>
 </div>
</form>
